@import url("https://artery-ui.netlify.app/artery-ui.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* .App {
  font-family: sans-serif;
  text-align: center;
} */


.side-nav{
  flex-direction: column;
    height: auto;
    
    min-width: 15rem;
    /* position: fixed; */
    /* margin-bottom: var(--margin-1); */
   
    justify-content: center;
    overflow-y: auto;
    overflow-x: auto;
  border-right: 2px solid rgba(128, 128, 128, 0.596);
  padding: 1rem 1rem ;
  /* max-width: 18%; */
  /* max-width: 0; */
}
.main-section{
  
  margin-top: 5rem;
  display: flex;
  
}
.header{
  padding: 0 2rem;
  /* justify-content: none; */
  flex-direction: column;
  /* width: calc(100vw - 2rem); */
  max-width: 100vw;
}
.nav-sec{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 2rem);
  /* max-width: 100vw; */
}
/* .header-title{
  width: 100%;
} */
.space-between {
  display: flex;
  justify-content: space-between;
}
.img{
  width: 10rem;
  height: 15rem;
}
.product{
  margin:0.2rem 0.2rem;
  padding: 0.2rem 0.2rem;
  border: none;
}
.product:hover{
  box-shadow: 0.2rem 0.2rem 1rem rgb(0 0 0 / 56%);
}
.product-name{
  padding: .3rem;
    overflow: hidden;
    max-width: 250px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
}
.vertical-card>div {
  padding-bottom: 0;
}
.out-of-stock{
  background-color:rgb(0 0 0 / 56%);
  border:none;
  width: 100%;
  height: 100%;
  color: white;
  /* opacity: 0.9; */
  
}
.out-of-stock_text{
  padding: 0.5rem;
  background-color: var(--primary-bg);
}
.search{
  border:none;
  height: auto;
  outline: 0 none;
  padding: 0 1rem;
  width: 100%;
}
.search-bar{
  border: 1px solid black;
  /* width: 15; */
  border-radius: 0.6rem;
}
.desktop-view-search-bar{
  width: 35%;
}
.mobile-view-search-bar{
  display: none;
}

.pd2 {
  padding: 2rem;
}
.pd1 {
  padding: 1rem;
}
.pd1-r{
  padding-right: 1rem;
}
.pd2-l-r {
  padding: 0 2rem;
}
.mg1-r{
  margin-right: 1rem;
}
.mg1-t{
  margin-top: 1rem;
}
.mg1-b{
  margin-bottom: 1rem;
}
.md-btn {
  margin: 0;
}
.mr1 {
  margin: 1rem;
}
.nav-btn {
  background-color: white;
  color: grey;
}
.filters {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a{
  text-decoration: none;
}

@media (max-width:780px) {
  .main-section{
    flex-direction: column;
    justify-content: space-between;
  }
  .side-nav{
    padding:0 1rem;
  }
  .filter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .filter-title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width:525px) {
  .filter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main-section{
    margin-top: 8rem;
  }
  .desktop-view-search-bar{
    display: none;
  }
  .mobile-view-search-bar{
    display: flex;
    padding-bottom: 1rem;
  }
}